<div
  class="flex flex-shrink-0 transition-all h-full fixed inset-y-0 z-10 sidebar"
>
  <!--! Sidebar button -->
  <div
    class="sidebar-button fixed inset-y-0 z-100 w-16 bg-white border-r-2 relative"
  >
    <!--! Toggle Sidebar -->
    <button
      class="menu-button p-2 transition-colors rounded-lg shadow-md hover:bg-indigo-800 hover:text-white focus:outline-none focus:ring focus:ring-indigo-600 focus:ring-offset-white focus:ring-offset-2"
      [ngClass]="{
        'text-white bg-indigo-600':
          isSidebarOpen && currentSidebarTab === 'linksTab',
        'text-gray-500 bg-white': !(
          isSidebarOpen && currentSidebarTab === 'linksTab'
        ),
      }"
      (click)="toggleSidebar('linksTab')"
    >
      <span class="sr-only">Toggle sidebar</span>
      <svg
        aria-hidden="true"
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h7"
        />
      </svg>
    </button>

    <!--! Admin Button -->
    <button
      class="menu-button p-2 transition-colors rounded-lg shadow-md hover:bg-indigo-800 hover:text-white focus:outline-none focus:ring focus:ring-indigo-600 focus:ring-offset-white focus:ring-offset-2"
      routerLink="/admin"
      routerLinkActive="bg-indigo-600 text-white"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        class="w-6 h-6"
      >
        <path
          fill="currentColor"
          d="M3 10h11v2H3zm0-2h11V6H3zm0 8h7v-2H3zm15.01-3.13l.71-.71a.996.996 0 0 1 1.41 0l.71.71c.39.39.39 1.02 0 1.41l-.71.71zm-.71.71l-5.3 5.3V21h2.12l5.3-5.3z"
        />
      </svg>
    </button>
    <!--! Push -->
    <button
      class="menu-button p-2 transition-colors rounded-lg shadow-md hover:bg-indigo-800 hover:text-white focus:outline-none focus:ring focus:ring-indigo-600 focus:ring-offset-white focus:ring-offset-2"
      routerLink="/admin/push"
      routerLinkActive="bg-indigo-600 text-white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M11 14h2v-3h3V9h-3V6h-2v3H8v2h3zm-9 8V4q0-.825.588-1.412T4 2h16q.825 0 1.413.588T22 4v12q0 .825-.587 1.413T20 18H6z"
        />
      </svg>
    </button>
    <!--! Users -->
    <button
      class="menu-button p-2 transition-colors rounded-lg shadow-md hover:bg-indigo-800 hover:text-white focus:outline-none focus:ring focus:ring-indigo-600 focus:ring-offset-white focus:ring-offset-2"
      routerLink="/admin/users"
      routerLinkActive="bg-indigo-600 text-white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4s4-1.79 4-4s-1.79-4-4-4m0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4"
        />
      </svg>
    </button>
    <!--! Add Button -->
    <button
      class="menu-button p-2 transition-colors rounded-lg shadow-md hover:bg-indigo-800 hover:text-white focus:outline-none focus:ring focus:ring-indigo-600 focus:ring-offset-white focus:ring-offset-2"
      routerLink="/admin/add-button"
      routerLinkActive="bg-indigo-600 text-white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        class="w-6 h-6"
      >
        <path fill="currentColor" d="M19 12.998h-6v6h-2v-6H5v-2h6v-6h2v6h6z" />
      </svg>
    </button>

    <!--! Exit -->
    <button
      class="menu-button p-2 transition-colors rounded-lg shadow-md hover:bg-indigo-800 hover:text-white focus:outline-none focus:ring focus:ring-indigo-600 focus:ring-offset-white focus:ring-offset-2 absolute bottom-4 left-0"
      routerLink=""
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        class="w-6 h-6"
      >
        <path
          fill="currentColor"
          d="M10.09 15.59L11.5 17l5-5l-5-5l-1.41 1.41L12.67 11H3v2h9.67zM19 3H5a2 2 0 0 0-2 2v4h2V5h14v14H5v-4H3v4a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2"
        />
      </svg>
    </button>
  </div>

  <!-- Sidebar -->
  <div
    [class.hidden]="!isSidebarOpen"
    class="sidebar-menu fixed inset-y-0 z-10 flex-shrink-0 w-64 bg-white border-r-2 border-indigo-100 shadow-lg left-16 sm:w-72"
  >
    <nav aria-label="Main" class="flex flex-col h-full">
      <div
        class="relative flex-1 px-4 space-y-2 overflow-hidden hover:overflow-auto pt-[62px] flex flex-col gap-[11px] cursor-pointer"
      >
        <span
          class="text-3xl font-bold text-indigo-600 absolute top-[20px] left-[50%] translate-x-[-50%]"
          >Admin</span
        >

        <div
          routerLink="/admin"
          routerLinkActive="bg-indigo-600 text-white"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item mt-0 flex items-center w-full space-x-2 text-indigo-600 transition-colors rounded-lg group hover:bg-indigo-600 hover:text-white cursor-pointer"
        >
          <span
            aria-hidden="true"
            class="p-2 transition-colors rounded-lg group-hover:bg-indigo-700 group-hover:text-white"
          >
            <svg
              class="w-6 h-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
              />
            </svg>
          </span>
          <span>Редактировать</span>
        </div>
        <div
          routerLink="/admin/push"
          routerLinkActive="bg-indigo-600 text-white"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item mt-0 flex items-center space-x-2 text-indigo-600 transition-colors rounded-lg group hover:bg-indigo-600 hover:text-white"
        >
          <span
            aria-hidden="true"
            class="p-2 transition-colors rounded-lg group-hover:bg-indigo-700 group-hover:text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M14 22v-3.075l5.525-5.5q.225-.225.5-.325t.55-.1q.3 0 .575.113t.5.337l.925.925q.2.225.313.5t.112.55t-.1.563t-.325.512l-5.5 5.5zm7.5-6.575l-.925-.925zm-6 5.075h.95l3.025-3.05l-.45-.475l-.475-.45l-3.05 3.025zM6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h8l6 6v3h-2V9h-5V4H6v16h6v2zm13.025-5.025l-.475-.45l.925.925z"
              />
            </svg>
          </span>
          <span>Пуш уведомление</span>
        </div>
        <div
          routerLink="/admin/users"
          routerLinkActive="bg-indigo-600 text-white"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item mt-0 flex items-center space-x-2 text-indigo-600 transition-colors rounded-lg group hover:bg-indigo-600 hover:text-white"
        >
          <span
            aria-hidden="true"
            class="p-2 transition-colors rounded-lg group-hover:bg-indigo-700 group-hover:text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m0 10c2.7 0 5.8 1.29 6 2H6c.23-.72 3.31-2 6-2m0-12C9.79 4 8 5.79 8 8s1.79 4 4 4s4-1.79 4-4s-1.79-4-4-4m0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4"
              />
            </svg>
          </span>
          <span>Users</span>
        </div>
        <div
          routerLink="/admin/add-button"
          routerLinkActive="bg-indigo-600 text-white"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-item mt-0 flex items-center space-x-2 text-indigo-600 transition-colors rounded-lg group hover:bg-indigo-600 hover:text-white"
        >
          <span
            aria-hidden="true"
            class="p-2 transition-colors rounded-lg group-hover:bg-indigo-700 group-hover:text-white"
          >
            <svg
              class="w-6 h-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z"
              />
            </svg>
          </span>
          <span>Создать</span>
        </div>
      </div>
    </nav>
  </div>
</div>
