<app-sidebar></app-sidebar>

<section class="admin-page ml-side">
  <div class="container w-[80%] mx-auto pt-[30px] pb-[30px]">
    <h2 class="text-3xl font-bold text-indigo-600 mb-4">Список кнопок</h2>

    <!-- Уведомления -->
    <div *ngIf="successMessage" class="alert alert-success mb-4">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-error mb-4">
      {{ errorMessage }}
    </div>

    <!-- Поиск и сортировка -->
    <div class="flex justify-between mb-4">
      <input
        type="text"
        placeholder="Search button"
        class="input input-bordered input-info w-full max-w-xs"
        [(ngModel)]="searchText"
        (input)="groupAndSortButtons()"
      />
      <select
        class="select select-info block w-fit"
        (change)="toggleSortOrder()"
      >
        <option value="asc">Parent ID: ⬇️</option>
        <option value="desc">Parent ID: ⬆️</option>
      </select>
    </div>

    <!-- Группированные кнопки -->
    <div *ngFor="let parentId of getGroupedKeys()" class="group">
      <h3
        class="text-xl font-semibold text-indigo-500 pt-8 pb-4 border-b border-gray-300 flex justify-between items-center"
      >
        <span
          >Parent ID: <span class="text-gray-700"> {{ parentId }} </span>
        </span>
        <span
          >Group Key:<span class="text-gray-700">
            {{ groupedButtons[parentId].group_key || "No Group Key" }}</span
          ></span
        >
      </h3>

      <div class="card-list flex flex-col gap-4">
        <div
          *ngFor="let button of groupedButtons[parentId].buttons"
          class="card bg-base-100 shadow-xl p-5"
        >
          <!-- Поля для редактирования -->
          <div class="mt-4">
            <label for="domain name" class="block text-sm text-indigo-400">
              Название кнопки
            </label>
            <div class="flex items-center mt-2">
              <p
                class="py-2.5 px-3 text-gray-700 bg-gray-200 border border-r-0 rounded-l-lg input-title"
              >
                Текст
              </p>
              <input
                type="text"
                [(ngModel)]="button.name"
                (keydown.enter)="saveButton(button)"
                (blur)="saveButton(button)"
                placeholder="Название кнопки"
                class="input block w-full rounded-l-none placeholder-gray-500 border border-gray-300 bg-white px-5 py-2.5 text-gray-800 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40"
              />
            </div>
          </div>

          <!-- Контент кнопки -->
          <div class="mt-4">
            <label
              for="Description"
              class="block text-sm text-indigo-400 font-bold"
            >
              Контент кнопки
            </label>
            <textarea
              [(ngModel)]="button.content"
              (keydown.enter)="saveButton(button)"
              (blur)="saveButton(button)"
              placeholder="Содержимое кнопки"
              class="block mt-2 w-full placeholder-gray-500 rounded-lg border border-gray-300 bg-white px-4 h-32 py-2.5 text-gray-800 focus:border-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40"
            ></textarea>
            <p class="mt-3 text-xs text-gray-500">
              Вы можете редактировать содержимое полей и нажать "Enter" для
              сохранения или поле автоматически сохранится при переходе на
              другое поле.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
