<section class="posts-bot">
  <div>
    <div
      class="bg-main-trans2-gradient-90 header-tab flex items-center justify-between px-[20px] py-[10px] my-[30px] rounded-[20px] w-[70%] mx-auto"
    >
      <h2 class="title-tab text-xl font-bold">
        Посты бота<span class="text-indigo-600"></span>
      </h2>
      <p
        class="text-right text-indigo-600 flex gap-2 items-center rounded-[20px] bg-main px-[15px] py-[5px]"
      >
        Всего постов:
        <span class="font-bold text-2xl"></span>
      </p>
    </div>
  </div>
</section>
