<section class="posts-bot w-full">
  <!-- Заголовок -->
  <div
    class="bg-main-trans2-gradient-90 header-tab flex items-center justify-between px-[20px] py-[10px] my-[30px] mb-0 rounded-[20px] w-[70%] mx-auto"
  >
    <h2 class="title-tab text-xl text-main-trans font-bold">Посты бота</h2>
    <p
      class="text-right flex gap-2 items-center rounded-[20px] bg-main px-[15px] py-[5px]"
    >
      Всего постов:
      <span class="font-bold text-2xl">{{ posts.length }}</span>
    </p>
  </div>

  <!-- Сообщения об успехе и ошибках -->
  <div
    *ngIf="successMessage"
    class="alert alert-success relative flex justify-between mb-4"
  >
    <b>{{ successMessage }}</b>
    <span
      class="close hover:bg-red-300 hover:scale-125 transition"
      (click)="closeMessages()"
      >✖</span
    >
  </div>

  <div *ngIf="errorMessage" class="alert alert-error relative mb-4">
    {{ errorMessage }}
    <span
      class="close hover:bg-red-300 hover:scale-125 transition"
      (click)="closeMessages()"
      >✖</span
    >
  </div>

  <!-- Список постов -->
  <div *ngIf="posts.length > 0; else loading">
    <div
      *ngFor="let post of posts; index as i"
      class="card-wrapper bg-main-trans-gradient-0 rounded-[20px] px-[20px] pt-[0] pb-[30px]"
    >
      <div class="flex items-start justify-between pt-[20px] mb-[20px]">
        <p class="text-lg font-bold text-indigo-600">📝 Пост №{{ i + 1 }}</p>
        <div class="card-date flex items-center gap-2">
          <p class="text-xs text-gray-500">
            Дата создания: {{ post.created_at | date: "medium" }}
          </p>
        </div>
      </div>

      <!-- Карточка поста -->
      <div class="post-item-wrapper w-[80%] mx-auto flex flex-col gap-2">
        <div class="card bg-base-100 mx-auto shadow-xl w-full">
          <div *ngIf="!post.isEditing; else editMode">
            <figure *ngIf="post.post_image_url">
              <img [src]="post.post_image_url" alt="Post Image" />
            </figure>
            <div class="card-body">
              <p class="text-indigo-600">ID: {{ post.id }}</p>
              <h3 class="text-xl text-indigo-400 font-bold">
                {{ post.post_title }}
              </h3>
              <p>{{ post.post_content }}</p>
              <div class="card-actions justify-center pt-[20px]">
                <button class="btn btn-ghost pr-0" (click)="toggleEdit(post)">
                  Редактировать
                  <span class="btn btn-primary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="30"
                      height="30"
                      viewBox="0 0 24 24"
                    >
                      <g
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                      >
                        <path
                          stroke-dasharray="20"
                          stroke-dashoffset="20"
                          d="M3 21h18"
                        >
                          <animate
                            fill="freeze"
                            attributeName="stroke-dashoffset"
                            dur="0.2s"
                            values="20;0"
                          />
                        </path>
                        <path
                          fill="currentColor"
                          fill-opacity="0"
                          stroke-dasharray="48"
                          stroke-dashoffset="48"
                          d="M7 17v-4l10 -10l4 4l-10 10h-4"
                        >
                          <animate
                            fill="freeze"
                            attributeName="fill-opacity"
                            begin="1.1s"
                            dur="0.5s"
                            values="0;1"
                          />
                          <animate
                            fill="freeze"
                            attributeName="stroke-dashoffset"
                            begin="0.2s"
                            dur="0.6s"
                            values="48;0"
                          />
                        </path>
                        <path
                          stroke-dasharray="8"
                          stroke-dashoffset="8"
                          d="M14 6l4 4"
                        >
                          <animate
                            fill="freeze"
                            attributeName="stroke-dashoffset"
                            begin="0.8s"
                            dur="0.2s"
                            values="8;0"
                          />
                        </path>
                      </g>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
          </div>

          <!-- Режим редактирования -->
          <ng-template #editMode>
            <figure *ngIf="post.post_image_url">
              <img [src]="post.post_image_url" alt="Post Image" />
            </figure>
            <div class="p-4">
              <label class="block text-sm text-indigo-400 font-bold mt-4"
                >URL изображения:</label
              >
              <input
                [(ngModel)]="post.post_image_url"
                (blur)="refreshImage(post)"
                class="input w-full mt-2 mb-4 border border-gray-300 rounded-lg px-4 py-2.5 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                placeholder="https://example.com/image.jpg"
              />

              <label class="block text-sm text-indigo-400 font-bold"
                >Название поста:</label
              >
              <input
                [(ngModel)]="post.post_title"
                class="input w-full mt-2 mb-4 border border-gray-300 rounded-lg px-4 py-2.5 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                placeholder="Введите заголовок"
              />

              <label class="block text-sm text-indigo-400 font-bold"
                >Контент поста:</label
              >
              <textarea
                [(ngModel)]="post.post_content"
                class="w-full h-40 border rounded-lg px-4 py-2 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                placeholder="Введите контент поста"
              ></textarea>

              <div class="card-actions justify-center pt-4">
                <button
                  class="btn pr-0 text-success"
                  (click)="saveChanges(post)"
                >
                  Сохранить
                  <span class="btn btn-accent">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="30"
                      height="30"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="none"
                        stroke="#fff"
                        stroke-dasharray="24"
                        stroke-dashoffset="24"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2.7"
                        d="M5 11l6 6l10 -10"
                      >
                        <animate
                          fill="freeze"
                          attributeName="stroke-dashoffset"
                          dur="0.96s"
                          values="24;0"
                        />
                      </path>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
          </ng-template>
        </div>

        <div *ngIf="post.buttons?.length" class="flex flex-col gap-2">
          <h4 class="text-lg font-bold text-white">Кнопка(и) поста:</h4>
          <div
            *ngFor="let buttonWrapper of post.buttons"
            class="bg-reg collapse collapse-arrow"
          >
            <input type="checkbox" class="peer" />
            <div
              class="collapse-title text-indigo-400 bg-reg peer-checked:bg-primary peer-checked:text-white font-bold text-lg"
            >
              {{ buttonWrapper.button.name }}
            </div>
            <div class="collapse-content bg-reg">
              <div
                *ngIf="!isEditing"
                class="sub-btn-date flex justify-between text-gray-400 text-xs py-2 px-4"
              >
                <span
                  >Дата создания
                  {{ buttonWrapper.button.created_at | date: "medium" }}</span
                >
                <span
                  >Обновлена
                  {{ buttonWrapper.button.updated_at | date: "medium" }}</span
                >
              </div>
              <div class="sub-btn-body-wrapper">
                <div
                  *ngIf="!isEditing"
                  class="sub-btn-body flex justify-between items-center"
                >
                  <div
                    class="sub-btn-body-title text-lg font-bold text-indigo-400 flex gap-2"
                  >
                    <!-- <span>{{ buttonWrapper.button.id }}</span> -->
                    <span>{{ buttonWrapper.button.name }}</span>
                  </div>
                  <div
                    class="sub-btn-body-order font-bold flex gap-4 items-center"
                  >
                    <div class="order">
                      Order:
                      <span class="nj-toast-trans">{{
                        buttonWrapper.button.order
                      }}</span>
                    </div>
                    <span
                      class="btn btn-primary"
                      (click)="toggleButtonEdit(post, buttonWrapper)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                      >
                        <g
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                        >
                          <path
                            stroke-dasharray="20"
                            stroke-dashoffset="20"
                            d="M3 21h18"
                          >
                            <animate
                              fill="freeze"
                              attributeName="stroke-dashoffset"
                              dur="0.2s"
                              values="20;0"
                            />
                          </path>
                          <path
                            fill="currentColor"
                            fill-opacity="0"
                            stroke-dasharray="48"
                            stroke-dashoffset="48"
                            d="M7 17v-4l10 -10l4 4l-10 10h-4"
                          >
                            <animate
                              fill="freeze"
                              attributeName="fill-opacity"
                              begin="1.1s"
                              dur="0.5s"
                              values="0;1"
                            />
                            <animate
                              fill="freeze"
                              attributeName="stroke-dashoffset"
                              begin="0.2s"
                              dur="0.6s"
                              values="48;0"
                            />
                          </path>
                          <path
                            stroke-dasharray="8"
                            stroke-dashoffset="8"
                            d="M14 6l4 4"
                          >
                            <animate
                              fill="freeze"
                              attributeName="stroke-dashoffset"
                              begin="0.8s"
                              dur="0.2s"
                              values="8;0"
                            />
                          </path>
                        </g>
                      </svg>
                    </span>
                  </div>
                  <div class="sub-btn-url" *ngIf="buttonWrapper.button.url">
                    Url: {{ buttonWrapper.button.url }}
                  </div>
                </div>
                <!--  -->
                <div *ngIf="isEditing" class="flex items-center">
                  <!-- Формы для редактирования кнопки -->
                  <div
                    class="form-group-wrapper flex flex-1 items-center gap-4 pt-4"
                  >
                    <div class="form-group w-[30%]">
                      <label class="block text-sm text-indigo-400 font-bold"
                        >Название поста:</label
                      >
                      <input
                        [(ngModel)]="buttonWrapper.button.name"
                        class="input w-full mt-2 mb-4 border border-gray-300 rounded-lg px-4 py-2.5 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                        placeholder="Редактировать заголовок"
                      />
                    </div>
                    <div class="form-group w-[50%]">
                      <label class="block text-sm text-indigo-400 font-bold"
                        >Ссылка на ресурс(необязательный параметр):
                      </label>
                      <input
                        [(ngModel)]="buttonWrapper.button.url"
                        (blur)="refreshImage(post)"
                        class="input w-full mt-2 mb-4 border border-gray-300 rounded-lg px-4 py-2.5 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                        placeholder="Редактировать URL кнопки"
                      />
                    </div>
                    <div class="form-group w-[12.5%]">
                      <label class="block text-sm text-indigo-400 font-bold"
                        >Очередность:</label
                      >
                      <input
                        disabled
                        [(ngModel)]="buttonWrapper.button.order"
                        class="input w-full mt-2 mb-4 border border-gray-300 rounded-lg px-4 py-2.5 focus:ring focus:ring-blue-300 focus:ring-opacity-40"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <div class="btn-group flex items-center gap-2 pt-5">
                    <span
                      (click)="saveButtonChanges(post, buttonWrapper)"
                      class="btn btn-accent"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="25"
                        viewBox="0 0 24 24"
                      >
                        <path
                          fill="none"
                          stroke="#fff"
                          stroke-dasharray="24"
                          stroke-dashoffset="24"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2.7"
                          d="M5 11l6 6l10 -10"
                        >
                          <animate
                            fill="freeze"
                            attributeName="stroke-dashoffset"
                            dur="0.96s"
                            values="24;0"
                          />
                        </path>
                      </svg>
                    </span>
                    <span
                      class="btn btn-error"
                      (click)="toggleButtonEdit(post, buttonWrapper)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="30"
                        height="30"
                        viewBox="0 0 24 24"
                        cl
                      >
                        <g
                          fill="none"
                          stroke="#fffFFF"
                          stroke-dasharray="16"
                          stroke-dashoffset="16"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                        >
                          <path d="M7 7l10 10">
                            <animate
                              fill="freeze"
                              attributeName="stroke-dashoffset"
                              dur="0.4s"
                              values="16;0"
                            />
                          </path>
                          <path d="M17 7l-10 10">
                            <animate
                              fill="freeze"
                              attributeName="stroke-dashoffset"
                              begin="0.4s"
                              dur="0.4s"
                              values="16;0"
                            />
                          </path>
                        </g>
                      </svg>
                    </span>
                  </div>
                </div>
                <!--  -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Загрузка данных -->
  <ng-template #loading>
    <div class="isLoading fixed z-10">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="300"
        height="300"
        viewBox="0 0 24 24"
        class=""
      >
        <defs>
          <radialGradient id="gradient1" cx="50%" cy="50%" r="50%">
            <stop offset="0%" stop-color="oklch(51.01% 0.274 263.83)" />
            <stop offset="100%" stop-color="#4f45e5" />
          </radialGradient>
          <radialGradient id="gradient2" cx="50%" cy="50%" r="50%">
            <stop offset="0%" stop-color="oklch(47.66% 0.246 305.88)" />
            <stop offset="100%" stop-color="#818cf8" />
          </radialGradient>
          <radialGradient id="gradient3" cx="50%" cy="50%" r="50%">
            <stop offset="0%" stop-color="#4f45e5" />
            <stop offset="100%" stop-color="#8845e5" />
          </radialGradient>
        </defs>
        <circle cx="12" cy="12" r="0" fill="url(#gradient1)">
          <animate
            id="svgSpinnersPulseMultiple0"
            fill="freeze"
            attributeName="r"
            begin="0;svgSpinnersPulseMultiple2.end"
            calcMode="spline"
            dur="1.2s"
            keySplines=".52,.6,.25,.99"
            values="0;11"
          />
          <animate
            fill="freeze"
            attributeName="opacity"
            begin="0;svgSpinnersPulseMultiple2.end"
            calcMode="spline"
            dur="1.2s"
            keySplines=".52,.6,.25,.99"
            values="1;0"
          />
        </circle>
        <circle cx="12" cy="12" r="0" fill="url(#gradient2)">
          <animate
            id="svgSpinnersPulseMultiple1"
            fill="freeze"
            attributeName="r"
            begin="svgSpinnersPulseMultiple0.begin+0.2s"
            calcMode="spline"
            dur="1.2s"
            keySplines=".52,.6,.25,.99"
            values="0;11"
          />
          <animate
            fill="freeze"
            attributeName="opacity"
            begin="svgSpinnersPulseMultiple0.begin+0.2s"
            calcMode="spline"
            dur="1.2s"
            keySplines=".52,.6,.25,.99"
            values="1;0"
          />
        </circle>
        <circle cx="12" cy="12" r="0" fill="url(#gradient3)">
          <animate
            id="svgSpinnersPulseMultiple2"
            fill="freeze"
            attributeName="r"
            begin="svgSpinnersPulseMultiple0.begin+0.4s"
            calcMode="spline"
            dur="1.2s"
            keySplines=".52,.6,.25,.99"
            values="0;11"
          />
          <animate
            fill="freeze"
            attributeName="opacity"
            begin="svgSpinnersPulseMultiple0.begin+0.4s"
            calcMode="spline"
            dur="1.2s"
            keySplines=".52,.6,.25,.99"
            values="1;0"
          />
        </circle>
      </svg>
    </div>
  </ng-template>
</section>
